<form nz-form [formGroup]="form" (ngSubmit)="save()">
  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzRequired>Name</nz-form-label>
    <nz-form-control [nzSpan]="24" [nzErrorTip]="nameErrorTpl">
      <input nz-input formControlName="name" placeholder="Position name" />
      <ng-template #nameErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Name is required</ng-container>
        <ng-container *ngIf="control.hasError('maxlength')">Name must be less than 150 characters</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24">Description</nz-form-label>
    <nz-form-control [nzSpan]="24">
      <textarea nz-input formControlName="description" rows="3"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24">Parent</nz-form-label>
    <nz-form-control [nzSpan]="24">
      <nz-select formControlName="parentId" nzAllowClear nzShowSearch nzPlaceHolder="Select parent (or none)">
        <nz-option *ngFor="let p of getParentOptions()" [nzValue]="p.id" [nzLabel]="p.label"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <div class="actions">
    <button nz-button nzType="primary" [disabled]="loading" type="submit">Save</button>
    <button nz-button type="button" (click)="$event.preventDefault(); $event.stopPropagation();" style="margin-left:8px;">Cancel</button>
    <button nz-button nzType="default" *ngIf="position?.id" (click)="$event.preventDefault(); confirmDelete()" type="button" style="float:right;">Delete</button>
  </div>
</form>